<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title> PlayList page </title>
		<link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
	</head>
	
	<body>
		<h2> PlayList <span th:text="${playlist.title}">PlayList1</span></h2>
		<h3>Hope you will have a good experience with us <span th:text="${user.userName}">Mario</span></h3>
		<br>
		
		<div th:if="${#lists.isEmpty(songsInPlaylist)}">
			<div th:if="(${block} == 0)">
				This playList doesn't have songs yet
			</div>
			<div th:if="(${block} > 0)">
				This section is free
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(songsInPlaylist)}">
			<table class=songsTable>
				<tbody>
					<tr>
						<td th:each="s : ${songsInPlaylist}">
							<table class=simpleTable>
								<tbody>
									<tr>
										<td>
											<img th:src="@{GetImage/{image}(image=${s.imgFile})}" />
										</td>
									</tr>
									<tr>
										<td>
											<a th:href="@{GoToSongPage(songId=${s.id} , playlistId=${playlist.id} , section=${block})}">
											<span th:text="${s.songTitle}"></span></a>
										</td>
									</tr>
								</tbody>
							</table>
						</td>		
					</tr>
				</tbody>
			</table>
			
			<div th:class="before" th:if="(${block} > 0)">
				<a th:class="before" th:href="@{GoToPlayListPage(playlistId=${playlist.id} , section=(${block} - 1))}">Before</a>
			</div>
			<div class="next" th:if="(${next} == true)">
				<a th:class="a_next" th:href="@{GoToPlayListPage(playlistId=${playlist.id} , section=(${block} + 1))}">Next</a>
			</div>
			
		</div>	
		<p th:class = "error" th:text="${errorMsg1}"></p>
		<br><br>
	
		<div th:if="${#lists.isEmpty(songsNotInPlaylist)}">
				All songs already in this playList
		</div>
		<div th:if="${not #lists.isEmpty(songsNotInPlaylist)}">
			<fieldset>
				Add a song to this playList
				<form th:action="@{/AddSong(playlistId=${playlist.id})}" method="POST">
					<select id="song" name="song">
						<option th:each="s : ${songsNotInPlaylist}"  th:value="${s.id}"
									th:text="${s.songTitle}">song</option>
					</select>
					<p><input type="submit" value="submit"></p>
				</form>
			</fieldset>
		</div>
		<p th:class = "error" th:text="${errorMsg}"></p>
		
		<br><br><br>
		
		<div>
			<a th:href="@{GoToHomePage}">Home page</a>
		</div>
	
		<br><br>
		<div>
			<a th:href="@{Logout}">Logout</a>
		</div>
		
	</body>
	
</html>






